table {
  font-family: Helvetica;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  text-align: right;
  border: 0px;
  padding: 8px;
}

th {
    text-align: center;
    border: 1px solid grey;
    padding: 8px;
}

h1 {
    font-family: Helvetica;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #DDE6F4;}
